body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}

q:before,
q:after {
  content: "";
}

a,
ins {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: inherit;
}

h1 {
  color: gold;
}

label {
  cursor: pointer;
}

.displayNone {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  background-color: #363636;
  color: white;
  font-family: "Righteous", cursive;
  min-width: 320px;

  .container {
    background-color: rgba(219, 190, 190, 0.451);
    min-width: 320px;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(90deg,
        rgba(219, 190, 190, 0.45) 0%,
        rgba(219, 190, 190, 0.45) 20%,
        rgba(7, 175, 218, 1) 20%,
        rgba(7, 175, 218, 1) 32%,
        rgba(139, 195, 60, 1) 32%,
        rgba(139, 195, 60, 1) 44%,
        rgba(84, 99, 172, 1) 44%,
        rgba(84, 99, 172, 1) 56%,
        rgba(235, 12, 140, 1) 56%,
        rgba(235, 12, 140, 1) 68%,
        rgba(246, 143, 29, 1) 68%,
        rgba(246, 143, 29, 1) 80%,
        rgba(219, 190, 190, 0.45) 80%,
        rgba(219, 190, 190, 0.45) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  header {
    padding: 5%;
    width: 100%;
    background-color: #3636367a;
    position: relative;

    nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      height: 250px;
      flex-direction: column;
      background-image: url("./images/titlestrip.png");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: bottom;
      z-index: 99999;
      opacity: 1;
      transition: .5s;

      &.displayNone {
        display: flex;
        opacity: 0;
        right: calc(100vw - 70px);
      }

      img {
        width: 100%;
      }




    }


  }

  .but-settings-toggle,
  .back-home-button,
  .but-repeate,
  .back-cat {

    width: 32px;
    height: 32px;
    opacity: 0.7;
    transition: .5s;

    img {
      width: 100%;
      height: 100%;
    }

    &.displayNone {
      display: none;
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  .totalCard {
    height: 100%;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

    h3 {
      font-size: 26px;
    }

    p {
      font-size: 32px;
    }

    button {
      position: absolute;
      width: 40px;
      height: 40px;
      bottom: 0;

      &.back-home-button {
        left: 0;

      }

      &.back-cat {
        right: 0;
      }

      &.but-repeate {
        left: calc(50% - 20px)
      }


    }
  }

  h1 {
    font-size: 50px;
  }

  main {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    overflow-y: auto;
    font-size: 40px;

    &.main-not-centered {
      align-items: unset;
    }


    .quiz-type,
    .cat-title,
    .detailedResult {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;

      position: relative;
      z-index: 99;

      &.displayNone {
        display: none;
      }

      li {
        background-color: rgb(87, 87, 79);
        cursor: pointer;
        color: white;

        h2 {
          display: block;
          width: 100%;
          height: 100%;
          padding: 20px;
        }
      }
    }

    .cat-title,
    .detailedResult {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px;
      column-gap: 20px;
      row-gap: 20px;
      align-items: baseline;

      li {
        width: 150px;
        padding: 10px;

        h3 {
          font-size: 16px;
          margin-bottom: 10px;
        }

        img {
          width: 100%;
        }
      }
    }

    .cat {
      width: 100%;
      padding: 20px 0;
      position: relative;

      .numTotal {
        position: absolute;
        right: 10px;
        bottom: 20px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        background-color: rgba(255, 0, 0, 0.5);
        text-align: right;
        z-index: 999999999;

      }


      .questionCard {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        font-size: 16px;

        &.displayNone {
          display: none;
        }

        &.questionCardPaintings {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          column-gap: 20px;
          row-gap: 20px;
          align-content: center;

          &>img {

            cursor: pointer;
            width: 45%;

            margin: 0;



          }

          &>h2 {
            margin-bottom: 50px;
          }

        }

        h2 {
          font-size: 26px;
        }



        .possibleAnswers {
          display: flex;
          flex-direction: column;
          row-gap: 20px;


          &.displayNone {
            display: none;
          }

          &>li {
            padding: 10px;
            background-color: #3636367a;
            cursor: pointer;

          }
        }

        &>img {
          width: 100%;
        }

      }


    }

    .detailedResult {
      position: absolute;
      font-size: 14px;

      .itemCloseButtomImg {
        position: fixed;
        bottom: 160px;
        right: 20px;
      }

      li {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 10px;
        row-gap: 10px;
        position: relative;

        a {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 20px;
          right: 20px;

          img {
            width: 100%;
          }
        }

        .containerResult {
          position: absolute;
          bottom: 10px;
          right: 10px;
          background-color: rgba(255, 0, 0, 0.5);
          padding: 10px;
        }


        &>* {
          width: 100%;

        }

        span {
          font-size: 16px;

        }

      }

    }

    .tempDiv {
      min-width: 300px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 30px;

      a {
        width: 100%;

        img {
          width: 100%;
          cursor: pointer;
        }
      }

      .tempDivCont {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;



        h2 {
          font-size: 30px;
          text-align: center;
        }

        h3 {
          font-size: 20px;
        }

        span {
          font-size: 18px;
        }

        .nextQButton,
        .imgResult,
        .but-total {

          position: absolute;
          width: 30px;
          height: 30px;
          bottom: -30px;
          color: black;
          opacity: 0.7;
          transition: 0.3s;
          border-radius: 50%;
        }

        .imgResult {
          left: 30px;
        }

        .nextQButton,
        .but-total {

          right: 30px;

          img {
            width: 100%;
          }

        }



      }
    }








  }







  .settings-position {
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    background-color: transparent;
    z-index: 100;




    #but-settings-open {
      display: none;
    }

    #but-settings-open:checked~.settings-popup {
      display: flex;
    }
  }

  .settings-popup {
    position: fixed;
    display: none;
    min-width: 280px;
    width: calc(100vw - 40px);
    row-gap: 30px;
    top: 30%;
    right: 20px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(246, 143, 29, 1);

    box-shadow: 0px 0px 50px 90px #363636d7;
    transition: 0.5s;


    .cross-close {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 20px;
      cursor: pointer;

    }

    h2 {
      font-size: 25px;
    }

    h3 {
      font-size: 16px;
    }

    .settings-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;


      &>li {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 10px;
        background-color: #57574f38;
        transition: .3s;

        &:nth-child(2n+1) {
          width: 75%;
        }

        &:nth-child(2n) {
          width: 23%;
        }

        &:last-child {
          width: 100%;
        }

        .timeToAnswer {
          border: none;
          background-color: transparent;
          text-align: center;
          width: 30px;
          color: white;

          &:focus {
            outline: none
              /* Рамка при получении фокуса */
          }
        }

      }

      .settings-block-content {
        display: flex;
        justify-content: center;
        column-gap: 20px;
      }

      .but-volume,
      .but-time {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
      }

      .but-volume-off {
        background-image: url("./images/volumeOf.svg");
      }

      .but-volume-on {
        background-image: url("./images/volumeOn.svg");
      }

      .but-time-down {
        background-image: url("./images/–.svg");
      }

      .but-time-up {
        background-image: url("./images/+.svg");
      }

      label[name="off"] {
        display: block;
      }

      label[name="on"] {
        display: none;
      }

      #toggle-button-timer:checked~label[name="off"],
      #toggle-button-music:checked~label[name="off"],
      #toggle-button-soundEffects:checked~label[name="off"] {
        display: none;
      }

      #toggle-button-timer:checked~label[name="on"],
      #toggle-button-music:checked~label[name="on"],
      #toggle-button-soundEffects:checked~label[name="on"] {
        display: block;
      }





    }

    .but-set-list {
      display: flex;
      column-gap: 2%;

      width: 100%;


      li {
        flex-grow: 1;

        .but-set {
          background-color: #57574f38;
          padding: 10px;
          width: 100%;
          color: rgba(84, 99, 172, 1);
        }
      }
    }
  }

  footer {
    background-color: #3636367a;
    padding: 5%;
    width: 100%;
    background-image: url("./images/bottomStripes.png");
    background-repeat: repeat-x;

    ul {
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 0 auto;
      row-gap: 10px;

      li {
        font-size: 12px;
      }

      a {
        color: white;
        font-size: 16px;
      }
    }
  }

  @media (min-width: 768px) {
    .container {
      background-size: auto;
      background-position: left 300px bottom 620px;
    }

    header {
      padding: 30px 30px;
    }

    h1 {
      font-size: 60px;
    }

    main {
      padding: 5%;

      .cat-title,
      .detailedResult {
        .itemCloseButtomImg {
          position: fixed;
          bottom: 130px;
          right: 30px;
        }

        li {
          width: 200px;

          h3 {
            font-size: 20px;
          }
        }
      }

      .cat {
        width: 100%;
        padding: 0;


        .questionCard {
          height: 100%;
          width: 75%;
          margin: auto;
          row-gap: 15px;

          .possibleAnswers {
            row-gap: 10px;

            &>li {
              padding: 8px;
            }
          }

          &>img {
            margin: auto;
            width: 90%;
          }
        }
      }

      .tempDiv {

        row-gap: 20px;

        .tempDivCont {

          row-gap: 15px;
        }
      }
    }

    .settings-position {
      bottom: 130px;
    }

    .settings-popup {
      width: 400px;

      top: 38%;
      right: 20px;
      box-shadow: 0px 0px 50px 1000px #363636d7;
    }

    footer {
      padding: 30px 30px;

      ul {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        li {
          font-size: 20px;
        }

        a {
          font-size: 20px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    main {
      padding: 30px;

      .quiz-type {
        flex-direction: row;
        column-gap: 30px;

        li {
          flex-grow: 1;
        }
      }

      .cat {
        width: 100%;
        padding: 0;


        .questionCard {
          flex-direction: row;
          flex-wrap: wrap;
          row-gap: 20px;
          column-gap: 20px;

          &>h2 {
            flex-grow: 2;
          }

          .possibleAnswers {
            width: 30%;

          }

          &>img {
            width: 60%;

          }
        }
      }

      .tempDiv {
        flex-direction: row;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        padding: 20px;

        a {
          width: 60%;
        }

        .tempDivCont {
          width: 30%;
          row-gap: 20px;
          height: 100%;
          justify-content: flex-start;

          .nextQButton,
          .imgResult,
          .but-total {

            bottom: 20px;

          }
        }
      }
    }

    .settings-popup {
      top: 20%;
      box-shadow: 0px 0px 50px 2000px #363636d7;
    }
  }

  @media (min-width: 1920px) {
    .container {
      background: linear-gradient(90deg,
          rgba(7, 175, 218, 1) 20%,
          rgba(139, 195, 60, 1) 20%,
          rgba(139, 195, 60, 1) 40%,
          rgba(84, 99, 172, 1) 40%,
          rgba(84, 99, 172, 1) 60%,
          rgba(235, 12, 140, 1) 60%,
          rgba(235, 12, 140, 1) 80%,
          rgba(246, 143, 29, 1) 80%,
          rgba(246, 143, 29, 1) 99%);
    }

    .settings-popup {
      top: 38%;
    }

    main {

      .cat-title,
      .detailedResult {
        column-gap: 30px;
        row-gap: 40px;


        li {
          width: 250px;

          h3 {
            font-size: 25px;
          }
        }
      }

      .cat {

        padding: 0;


        .questionCard {


          font-size: 20px;
          justify-content: center;

          &>h2 {
            flex-grow: 1;
            width: 100%;
            font-size: 30px;
          }

          &>img {
            width: 45%;
            margin: 0;


          }
        }
      }

      .tempDiv {

        padding: 80px;
      }

    }
  }
}